<div>
  <div class='content-wrapper'>
    <h1 class="title">{{pageTitle}}</h1>

    <div class="entity-wrapper" ng-controller="artistAddController">
      <form name="newArtist">
        <label>Client Name:</label>
        <input type="text" ng-model="form.artistName" required/>
        <label>URL:</label>
        <input type="url" name="picURL" ng-model="form.artistImg" placeholder="http://"required/>
        <br>
       <button ng-click="addArtist()">Add Artist</button>
<pre>form={{form}}</pre>
      </form>
    </div>
  </div>
</div>
