  <div stop-event="click" id="add-form" class="form-content Absolute-Center" ng-class="formClass" ng-show="formVisible">
    <form name="newArtist"><!--
    <label>Client Name:</label>-->
    <input type="text" placeholder="CLIENT NAME" ng-model="form.artistName" required/>
<!--    <label>URL:</label>-->
    <input type="url" name="picURL" ng-model="form.artistImg" placeholder='IMG URL -> "http://..."'required/>
    <button ng-click="addArtist()">Add Artist</button>
    </form>
  </div>

<div>


  <div class='content-wrapper'>
      <h1 class='title'>{{pageTitle}}</h1>

      <div class="entity-wrapper">
        <ul>
          <li ng-click="showForm(); formClass='animate'" class="entity-add" stop-event="click">
				<a href="" style="background:url(img/add.png) no-repeat center; -webkit-backgroung-size:cover;
				-moz-background-size:cover; -o-background-size:cover; background-size:cover;">
				</a>

          </li>
          <li class="entity-li" ng-repeat="artist in viewableArtists">
            <button ng-click="deleteArtist(artist.id)">X</button>
            <a href="#/events/{{artist.id}}" style="background:url({{artist.image}}) no-repeat center; -webkit-background-size:cover;
				-moz-background-size:cover; -o-background-size:cover; background-size:cover;">
              <div class='entity-banner'>
                <h4>{{artist.name}}</h4>
              </div>
            </a>
          </li>
        </ul>
      </div>
  </div>

</div>


