<!doctype html>
<!-- <html lang="en" ng-app="artistManager">  -->
<html lang="en" ng-app="vicciappControllers">
<head>
  <meta charset="utf-8">
  <title>Login to Vicci</title>
  <link rel="stylesheet" href="css/app.css">
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>

  <script type="text/javascript">
  //   function validateEmail(email) {
  //     var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\
  // ".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA
  // -Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  //     return re.test(email);
  // }
  </script>

</head>
<!-- <body ng-controller="loginController"> -->
<body>

<!--   <header>
  <button>logoff</button>
  </header> -->

  <div class='content-wrapper'>
      <!-- <h1 class='title'>{{pageTitle}}</h1> -->

      <h2> Welcome to Vicci </h3>
      <h4> Log in to manage merch like a boss. </h4>
<!--       <input type = "text" ng-model = "username"/>
      <p> {{username}} </p>
      <br>
      <br>
      <input type = "text" ng-model = "password"/>
      <p> {{password}} </p>
      <br> -->
      <form name="loginForm" ng-controller = "loginController">
        Email: <input type="email" name="emailText" ng-model="userEmail" required>

        <span class = "error" ng-show="loginForm.emailText.$error.required"> Required!</span>

        <span class = "error" ng-show="loginForm.emailText.$error.email"> Not a valid email!</span>

        Password: <input type="password" ng-minlength = 3 name="passwordText" ng-model = "password" required>

        <span class = "error" ng-show="loginForm.passwordText.$error.required"> Required!</span>

        <span class = "error" ng-show="loginForm.passwordText.$error.password"> Not a valid password!</span>

        <tt>userEmail = {{userEmail}}</tt><br/>
        <tt>loginForm.emailText.$valid = {{loginForm.emailText.$valid}}</tt><br/>
        <tt>loginForm.$valid = {{loginForm.$valid}}</tt><br/>
        <tt>loginForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
        <tt>myForm.$error.email = {{!!loginForm.$error.email}}</tt><br/>


        <br> </br>
        <br> </br>
        <tt>password = {{password}}</tt><br/>
        <tt>loginForm.passwordText.$valid = {{loginForm.passwordText.$valid}}</tt><br/>
        <tt>loginForm.$valid = {{loginForm.$valid}}</tt><br/>
        <tt>loginForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
        <tt>myForm.$error.password = {{!!loginForm.$error.password}}</tt><br/>

        <button type="button" ng-click = "verifyInput()">Sign In</button>

        <button type="button" onclick="alert('Hello world!')">Sign Up</button>
      <!-- <div class="entity-wrapper"> -->
<!--         <ul>
          <li class="entity-li" ng-repeat="artist in viewableArtists">
            <a href="http://www.google.com" style="background:url({{artist.img}}) no-repeat center; -webkit-backgroung-size:cover;
				-moz-background-size:cover; -o-background-size:cover; background-size:cover;">
              <div class='entity-banner'>
                <h4>{{artist.name}}</h4>
              </div>
            </a>
          </li>
          <li class="entity-add" >
				<a href="#" style="background:url(http://pixabay.com/static/uploads/photo/2013/04/01/21/29/first-aid-99069_640.png?i) no-repeat center; -webkit-backgroung-size:cover;
				-moz-background-size:cover; -o-background-size:cover; background-size:cover;">
				</a>

          </li>
        </ul> -->
      <!-- </div> -->
  </div>


</body>
</html>
